div {
    text-align: left;
    background-color: black;
    font-size: large;
    font-weight: 400;
    color: white;
  }

  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white; /* 흰색으로 변경 */
    font-size: 16px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .activeLink {
    font-weight: bold;
  }
  